<!--<mat-card *ngIf="review">-->
  <mat-card>
  <mat-card-header>Edit Review</mat-card-header>
  <mat-card-content>
    <form class="example-form" #f="ngForm" name="burrito-form">
      <!--<mat-grid-list cols="2" rowHeight="1000px">
        <mat-grid-tile>-->
          <mat-form-field class="example-full-width">
            <input matInput name="restaurant_name" placeholder="Restaurant Name" [ngModel]="review?.restaurant_name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput name="order" placeholder="Order" [ngModel]="review?.order">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput name="comments" placeholder="Comments" [ngModel]="review?.comments"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput name="cost" placeholder="Cost" [ngModel]="review?.cost">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select name="meat_type" placeholder="Meat Type" [ngModel]="review?.meat_type">
              <mat-option *ngFor="let meat of meat_type_options" [value]="meat.value">
                {{meat.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" name="meat" placeholder="Meat" [ngModel]="review?.meat">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select name="beans_type" placeholder="Beans Type" [ngModel]="review?.beans_type">
              <mat-option *ngFor="let bean of beans_type_options" [value]="bean.value">
                {{bean.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" name="beans" placeholder="Beans" [ngModel]="review?.beans">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" name="rice" placeholder="Rice" [ngModel]="review?.rice">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select name="guacamole_type" placeholder="Guacamole Type" [ngModel]="review?.guacamole_type">
              <mat-option *ngFor="let guac of guacamole_type_options" [value]="guac.value">
                {{guac.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" name="guacamole" placeholder="Guacamole" [ngModel]="review?.guacamole">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" name="crema" placeholder="Crema" [ngModel]="review?.crema">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" name="salsa" placeholder="Salsa" [ngModel]="review?.salsa">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="number" name="tortilla" placeholder="Tortilla" [ngModel]="review?.tortilla">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" name="cheese" placeholder="Cheese" [ngModel]="review?.cheese">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput name="other" placeholder="Other" [ngModel]="review?.other"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" name="size" placeholder="Size" [ngModel]="review?.size">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="number" name="taste" placeholder="Taste" [ngModel]="review?.taste">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="number" name="overall_rating" placeholder="Overall Rating"
              [ngModel]="review?.overall_rating">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput name="picture" placeholder="Picture" [ngModel]="review?.picture">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" name="date" placeholder="Choose a date" [ngModel]="review?.date"> <!--[value]="parseDate(review?.date)">-->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput name="yelp_link" placeholder="Yelp Link" [ngModel]="review?.yelp_link">
          </mat-form-field>

      <button mat-raised-button color="primary" *ngIf="review" (click)="updateReview(review?.key)">SAVE</button>
      <button mat-raised-button color="primary" *ngIf="!review" (click)="submitReview(f.value)">SUBMIT</button>
    </form>
  </mat-card-content>
</mat-card>
