<mat-card *ngFor="let review of reviews | async" class="review-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="review-header-image"></div> -->
    <mat-card-title>{{ review.restaraunt_name }}</mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>
    <section>
      <div class="right-section">
        <img class="review-image" src="../../assets/el_castillto.jpg" alt="Photo of Burrito">
      </div>
      <div class="left-section">
        <mat-tab-group>
          <mat-tab label="Details">
            <mat-list>
              <mat-list-item>Rating: {{ review.overall_rating }}</mat-list-item>
              <mat-list-item>Order: {{ review.order }} - ${{review.cost}}</mat-list-item>
              <mat-list-item>Meat: {{ review.meat_type }} - {{ review.meat }}</mat-list-item>
              <mat-list-item>Beans: {{ review.beans_type | titlecase }} - {{ review.beans }}</mat-list-item>
              <mat-list-item>Rice: {{ review.rice }}</mat-list-item>
              <mat-list-item>Guacamole: {{ review.guacamole }}</mat-list-item>
              <mat-list-item>Crema: {{ review.crema }}</mat-list-item>
              <mat-list-item>Salsa: {{ review.salsa }}</mat-list-item>
              <mat-list-item>Tortilla: {{ review.tortilla }}</mat-list-item>
              <mat-list-item>Cheese: {{ review.cheese }}</mat-list-item>
              <mat-list-item>Size: {{ review.size }}</mat-list-item>
              <mat-list-item>Taste: {{ review.taste }}</mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Description">
            <p>
              {{ review.comments }}
            </p>
          </mat-tab>
          <mat-tab label="Other Notes">
            <p>
              {{ review.other }}
            </p>
          </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/form']" [queryParams]="{review: review.key}">
      <button mat-button>EDIT</button>
    </a>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
