<mat-card class="review-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="review-header-image"></div> -->
    <mat-card-title>Taqueria El Castillito - Duboce</mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>
    <section>
      <div class="right-section">
        <img class="review-image" src="../../assets/el_castillto.jpg" alt="Photo of Burrito">
      </div>
      <div class="left-section">
        <mat-tab-group>
          <mat-tab label="Details">
            <mat-list>
              <mat-list-item>Rating: 6.53</mat-list-item>
              <mat-list-item>Order: Burrito - $11.73</mat-list-item>
              <mat-list-item>Meat: Carne Asada - 7</mat-list-item>
              <mat-list-item>Beans: Refried - 3.5</mat-list-item>
              <mat-list-item>Rice: 4</mat-list-item>
              <mat-list-item>Guacamole: 8</mat-list-item>
              <mat-list-item>Crema: 6</mat-list-item>
              <mat-list-item>Salsa: 8</mat-list-item>
              <mat-list-item>Tortilla: 5</mat-list-item>
              <mat-list-item>Cheese: 7</mat-list-item>
              <mat-list-item>Size: 9.5</mat-list-item>
              <mat-list-item>Taste: 7</mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Description">
            <p>
              This taqueria in Duboce holds it's own compared to it's cousin in the mission. Although similarly ranked,
              their burritos are not too similar. While the mission location was an all-around solid experience, this
              joint
              took me through a few big ups and downs. I'll start with the fact that this burrito was a bit more
              expensive, but
              was also one of the biggest around. The first few bites had me thinking I found one of the best spots in
              The
              Bay, but a slow decline had me forgetting what that first bite even tasted like. A good third of the
              burrito was
              super cold because of the crema and salsa (pico de gallo), and it was hard to distribute into each bite.
              So
              even from the start the whole burrito was just warm and by the end was not so hot. But! At least all of
              the
              ingredients in those first bites were really good. The asada had a nice fresh char from the griddle, some
              good meat
              juices, lots of guac and crema. As I got farther down much of the meat was pretty flavorless and
              un-charred, and the
              rice
              and
              bad refried beans stole the show...a show that nobody wants to see. The tortilla was grilled and as
              standard
              as
              they get. I'll give some extra props to the line cook who stuffed that burrito and somehow still folded
              all
              the
              ingredients inside. The salsa bar was ok. They had one, had options, but none were amazing. Still a plus
              over
              lots of places. So all in all this was one of the better SF burritos, fully equipped with high highs and
              medium
              lows. Not cheap, huge, and satisfying for any burrito craving. For comparison, this burrito was probably
              the
              third biggest I've ever had at a taqueria behind El Paisa@.com and El Farolito.

            </p>
          </mat-tab>
          <mat-tab label="Other Notes">
            <p>
              Salsa bar with 5 types of salsa and picked jalapeños and carrots.
            </p>
          </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
